{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	<h1>Se connecter</h1>

	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	<div class="form-group">
		<form action="{{ path('app_login') }}" method="post" name="login_form">
			<div class="mb-3">
				<label for="username" class="form-label" required>Email:</label>
				<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required="required">
			</div>
			<div class="mb-3">
				<label for="password" class="form-label" required>Password:</label>
				<input type="password" id="password" name="_password" class="form-control" required="required">
			</div>
			{# If you want to control the URL the user is redirected to on success #}
			<input type="hidden" name="my_profile" value="{{ path('my_profile') }}">
			<button type="submit" class="btn btn-primary mb-3">
				S'identifier</button>
		</form>
	</div>
	<div>Pas encore de compte ?</div>
	<div>
		<a class="btn btn-link" href="{{ path('app_register') }}">S'inscrire</a>
	</div>
{% endblock %}
