{% extends 'base.html.twig' %}

{% block title %}
	{{ program.title }}
	| Saison n°
	{{ season.number }}
	| Épisode n°
	{{ episode.number }}
{% endblock %}

{% block body %}
<div class="media">
	<div class="media-body">
		<h1 class="mt-0">{{ program.title }}
			| Saison n°
			{{ season.number }}
			| Épisode n°
			{{ episode.number }}</h1>
		<h2>Titre</h2>
		<p>{{ episode.title }}</p>
		<h2>Synopsis</h2>
		<p>{{ episode.synopsis }}</p>
		<h2>Durée</h2>
		<p>{{ episode.duration }}
			minutes</p>
	</div>
</div>

{% if is_granted('ROLE_CONTRIBUTOR') or is_granted('ROLE_ADMIN') %}
	<h2>Votre avis compte !</h2>
	{% include "comment/_form.html.twig" %}
{% endif %}
{% if comments|length > 0 %}
	<h2>Tous les avis</h2>
	<table class="table table-striped text-center">
		<thead>
			<tr>
				<th class="text-bg-primary" scope="col">Note</th>
				<th class="text-bg-primary" scope="col">Commentaire</th>
				<th class="text-bg-primary" scope="col">Auteur</th>
				<th class="text-bg-primary" scope="col">Date</th>
				<th class="text-bg-primary" scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for comment in comments %}
				<tr>
					<th scope="row">{{ comment.rate }}</th>
					<td class="fst-italic">{{ comment.comment }}</td>
					<td>{{ comment.author.email }}</td>
					<td>{{ comment.date|format_datetime('full', locale='fr') }}</td>
					{% if is_granted("ROLE_ADMIN") or app.user == comment.author %}
						<td>
							<div class="d-flex justify-content-center">
								<div>
									<a href="{{ path('comment_delete', {'id': comment.id}) }}">
										<svg class="m-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewbox="0 0 16 16">
											<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
										</svg>
									</a>
								</div>
							</div>
						</td>
					{% else %}
						<td>
							<div class="d-flex justify-content-center">
								<div>-
								</div>
							</div>
						</td>

					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% if is_granted('ROLE_CONTRIBUTOR') or is_granted('ROLE_ADMIN') %}
	<a href="{{ path('app_episode_edit', {'slug': episode.slug}) }}">
		Modifier l'épisode</td>
</tr></a><br>{{ include('episode/_delete_form.html.twig') }}{% endif %}<a href="{{ path('program_index') }}">Retour à la liste des programmes</a>{% endblock %}
