{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="media">
		{% if program.poster %}
			{% if program.poster starts with 'http' %}
				<div>
					<img class="align-self-start mr-3 program-poster" src="{{program.poster}}" alt="{{ program.title }} poster">
				</div>
			{% else %}
				<div>
					<img class="align-self-start mr-3 program-poster" src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }} poster">
				</div>
			{% endif %}
		{% endif %}
		<div class="d-flex flex-row align-items-center">
			<h1>{{ program.title }}</h1>
			{% if app.user %}
				<div>
					<a id="watchlist" href="{{ path('program_watchlist', {id: program.id})}}">
						<i class="watchlist-icons bi {{ app.user.isInWatchlist(program) ? 'bi-heart-fill' : 'bi-heart' }}" alt="watchlist"></i>
					</a>
				</div>
			{% endif %}
		</div>
		<p>{{ program.synopsis }}</p>
		<p>Catégorie :
			{{ program.category.name }}</p>
		<h2>Les saisons :
		</h2>
		<ul>
			{% for season in program.seasons %}
				<li>
					<a href="{{ path("program_season_show", {programId: program.id, seasonId: season.id}) }}">
						Saison n°{{ season.number }}</a>
				</li>
			{% endfor %}
		</ul>
		<h2>Les acteurs :</h2>
		<ul>
			{% for actor in program.actors %}
				<li>
					<a href="{{ path("app_actor_show", { id: actor.id }) }}">{{ actor.name }}</a>
				</li>
			{% else %}
				<li>Aucun acteur pour cette série</li>
			{% endfor %}
		</ul>
		<h2>Durée totale</h2>
		<p>{{ programDuration }}</p>
	</div>
</div>

{% if is_granted("ROLE_ADMIN") or app.user == program.owner %}
	<a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer</a><br>
	{{ include('program/_delete_form.html.twig') }}
	{%endif%}

	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>
{% endblock %}
